#one{
    border: 2px solid black;
    position: relative;
    width: 99vw;
    height: 96vh;
    background-image: url("../image/bg.jfif");
}

div :first-child{
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 5vw;
    background-color: pink;
}

div :nth-of-type(2){
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 15vw;
    margin-top: 15vh;
    background-color: plum;
}

div :nth-of-type(3){
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 27vw;
    margin-top: 30vh;
    background-color: orchid;
}

div :nth-of-type(4){
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 38vw;
    margin-top: 45vh;
    background-color: palevioletred;
}
div :nth-last-child(4){
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 50vw;
    margin-top: 45vh;
    background-color: salmon;
    
}

div :nth-last-child(3){
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 60vw;
    margin-top: 30vh;
    background-color: thistle;
}

div :nth-last-child(2){
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left:70vw;
    margin-top: 15vh;
    background-color: cornsilk;
}

div :last-child{
    border: 2px solid black;
    position: absolute;
    width: 10vw;
    height: 12vh;
    margin-left: 82vw;
    background-color: darksalmon;
}
div{
    text-align: center;
    vertical-align: middle; 
    line-height: 12vh;
}
